extends ../layouts/base
 
block content

  .register.view

    form.register(action="" method="post")

      h2 Register

      p Email
      
      label(for="Email Address")
      input(
        type="email"
        id="register_email"
        name="Email Address"
        placeholder="Email@Email.com"
        required
        )
      
      .password-container
        p Password
        
        label(for="Password")
        input(
          type="text"
          id="register_password"
          name="Password"
          required
          )

        a(href="#") Reset Password

        p Confirm Password
      
      .confirm-password-container

        label(for="Confirm Password")
        input(
          type="text"
          id="confirm_password"
          name="Confirm Password"
          required
        )

        a(href="#") Already have an account?


      button(
        type="submit" 
        value="Submit"
      ) Register
