include ../mixins/flashMessages
 
unless partial

  doctype html
  html(data-url=url data-section=section)
    head
      meta(charset="utf-8")
      meta(name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width")
      block meta

      title= title || 'proud2share'
      link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
      block head

      link(href="/css/p2s.css" rel="stylesheet")
      block css

    body

      include ../includes/header

      main

        +flashMessages(messages)

        block content

      include ../includes/support
      include ../includes/footer

    if environment === 'production'
      script(src='//ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js')
      //- Google Tag Manager
      noscript
        iframe(
          src="//www.googletagmanager.com/ns.html?id=GTM-TCG95L"
          height="0"
          width="0"
          style="display: none; visibility: hidden;"
          )
      script.
        (function(w,d,s,l,i) {
          w[l] = w[l] || [];
          w[l].push({ 'gtm.start': new Date().getTime(),event:'gtm.js' });
          var f = d.getElementsByTagName(s)[0],
              j = d.createElement(s),
              dl = l != 'dataLayer' ? '&l=' + l : '';
          j.async = true;
          j.src = '//www.googletagmanager.com/gtm.js?id='+ i + dl;
          f.parentNode.insertBefore(j,f);
        })(window, document, 'script', 'dataLayer', 'GTM-TCG95L');

    else
      script(src='//ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.js')
      //- Enable Livereload
      script.
        var host = (location.host || 'localhost').split(':')[0],
            livereloadScript = document.createElement('script');
        livereloadScript.src = 'http://' + host + ':35729/livereload.js?snipver=1&host=' + host;
        document.body.appendChild(livereloadScript);

    script.
      //- Load local copy of jQuery if necessary
      if (!jQuery) {
        var script = document.createElement('script');
        script.src = '/js/vendor/jquery.js';
        document.body.appendChild('script');
      }
    script(src='/js/p2s.js')

    block js

else

  block content

  script.
    $('html').attr('data-url', #{url}).attr('data-section', #{section});
