section.module.stories

  if stories && stories.length

    each story in stories

      div.story

        h2 Meet #{story.firstName} #{story.lastName}

        p Homeless for #{story.yearsHomeless}

        dl
          dt Age
          dd #{story.age}

          dt Shoe Location
          dd #{story.shoeLocation}

        | !{story.content}

        a(href="/stories?name=#{firstName}#{lastName}") See #{story.firstName}'s Story 